.{
 margin: 0;
}
div{
    background:linear-gradient(Purple ,rgba(5, 104, 192, 0.692)) ;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
div > p{
    font-size: 20px;
    font-family: cursive;
    
}
h2{
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    font-size:25px;
}

section{
    display: flex;
}


